.header {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: arial;
  color: white;
}

.desc {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: helvetica;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center a {
  text-decoration: none;
}

.subpages {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}

.subtext {
  text-align: center;
  font-size: 26px;
  font-family: monospace;
  margin-bottom: 1.5%;
  color: rgb(0, 0, 0);
}


.main {
  text-align: center;
  font-size: 40px;
  font-family: helvetica;
  margin-bottom: -1.3%;
}

body {
  background-color: rgb(98, 134, 146);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 10em;
}

.center {
  text-align: center;
}

a {
  color: #000000;
}
a:hover {
  text-decoration: none;
}

.middle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
}


.photopadding {
  padding-left: 5px;
}


.pfp {
  border-radius: 12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.socials {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  margin: 10px;
}
.socials:hover, .socials:focus, .socials:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.pfp {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  border-radius: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pfp:hover, .pfp:focus, .pfp:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

audio{ 
  display:none;
}

button{
  margin-top:175px
  
}
